.card-widget.WiConvert{

}

.card-widget.WiConvert .col-md-6{
	padding: 0px;
}

.card-widget.WiConvert .form-control{
	padding: 0 5px;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #fff;
}

.card-widget.WiConvert .form-control::placeholder{
	border: 0;
	color: rgb(187, 187, 187);
}

.card-widget.WiConvert .form-control:focus {
	border-color: unset;
	box-shadow: none;
}