@font-face {
	font-family: 'Gaming';
	src: url('../../lib/webfonts/8bit.ttf')  format('truetype');
}

html, body{
	height: 100%;
}

.nav{
	height: 32px !important;
}
.container{
	height: calc( 100% - 32px );
}

body {
	font-family: 'Gaming', Fallback, monospace;
	font-size: 13px;
    font-weight: lighter;
    line-height: 0.9rem;
	background: #0a0a0a;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-tabs .nav-link{
	border-radius: 0;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}
a:hover{
	color: #afafaf;
}

a, .btn, body, .card,
.form-control,
.form-control:focus,
.nav-pills .nav-link.active,
.choices__item {
	color: #ffffff;
}

.form-control {
	background: transparent;
	height: 32px !important;
}

.container{
	width: 100%;
	max-width: unset;
	padding: 0 100px;
	overflow: auto;
}

.btn {
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.tab-content {
	padding-right: 1rem;
}

.row{
	margin-left: 0;
	margin-right: 0;
}
.col-md-10{
	padding-left: 0;
	padding-right: 0;
}

.card {
	background-color: transparent !important;
	border-color: #ffffff;
}

.btn:active,
.btn:focus,
.nav-pills .nav-link.active {
	background-color: #00e7ff6b !important;
}

.form-control::placeholder,
.btn:hover{
	color: #00e7ff;
	background: transparent;
	text-decoration: none;
}

.form-control::placeholder,
.btn:hover{
	border: 1px solid #00e7ff;
}

.btn-group{
	float: right;
}

.table td,
.table th{
	border: 0;
}
.table thead th{
	color: #ffffff;
	border-bottom: 0;
}

.fixed-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	padding: 10px;
	background: #00e7ff24;
	border-top: 1px solid #00e7ff;
}

/********** WIDGET **********/

.card-widget {
	width: 100%;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.card-widget:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -20px;
	filter: blur(10px);
}

.card-widget .list-group {
    overflow: hidden;
    overflow-y: auto;
}

.card-widget .list-header select,
.card-widget .list-header button{
	margin: 0;
	padding: 0;
	text-align: center;
	background: transparent;
	color: #fff;
	border: 0;
	float: right;
	margin-left: 3px;
}

.card-widget .list-header select{
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Style the arrow inside the select */
.card-widget .list-header select:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.card-widget .list-group-item{
	background-color: transparent;
	color: #ffffff;
	padding: 0;
}

.card-widget .list-header{
	background: transparent !important;
	cursor: default !important;
	position: absolute;
    width: max-content;
    top: 0;
	padding: 5px;
	border-bottom: 1px solid #fff;
	line-height: 1rem;
    position: relative
}

.card-widget .list-group-item span{
	padding-left: 0.5rem;
}

.card-widget th{
	font-weight: unset;
}

.card-widget a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
	padding: 5px 0px 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-widget .list-header a,
.card-widget .list-header span{
	padding: 0;
}
.card-widget .list-header i{
	margin-right: 5px;
}

.card-widget a:hover{
	color: unset;
	text-decoration: none;
}

.card-widget .list-group-item:hover {
	background: #3f3f3f;
}

.card-widget .list-group,
.card-widget .list-group-item{
	border-radius: 0 !important;
}

/********** SPINNER **********/

.spinner {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
}

.spinner div {
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
.spinner div.ring {
	border-width: 0.5rem;
	border-style: solid;
	border-color: transparent;
	-webkit-animation: 2s fancy infinite alternate;
	animation: 2s fancy infinite alternate;
}
.spinner div.ring:nth-child(1) {
	border-left-color: #00e7ff;
	border-right-color: #00e7ff;
}
.spinner div.ring:nth-child(2) {
	border-top-color: #00e7ff;
	border-bottom-color: #00e7ff;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.spinner div.dot {
	width: 1rem;
	height: 1rem;
	background: #00e7ff;
}

@-webkit-keyframes fancy {
	to {
		-webkit-transform: rotate(360deg) scale(0.5);
		transform: rotate(360deg) scale(0.5);
	}
}

@keyframes fancy {
	to {
		-webkit-transform: rotate(360deg) scale(0.5);
		transform: rotate(360deg) scale(0.5);
	}
}


/********** CUSTOM SCROLLBAR **********/

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
*{
	scrollbar-color: #ffffff #666666;
	scrollbar-width: thin;
}